.login-body{
    display: flex;
    flex-direction: row;
    font-size: 2vw;
}

.Middle_break{
    width: 5%;
    height: auto;
    background: lightseagreen;
}

.registerSide{
    margin-left: 4%;
    width: 40%;
    margin-top: .5%;
}
.loginSide {
    margin-left: 4%;
    width: 40%;
    margin-top: .5%;

}

.form_header{
    font-size: 4vw;
    color: firebrick;
    align-items: center;
}

button {
    width: 50%;
}

.submit_button{
    background: green;
    color: aliceblue;
    font-size: 1.5vw;

}

.reset_button{
    background: red;
    color: aliceblue;
    font-size: 1.5vw;

}