.login-body{
    display: flex;
    flex-direction: row;
    font-size: 3vw;
}

.registerSide{
    margin-left: 4%;
    width: 80%;
    margin-top: .5%;
    font-size: 2vw;
}
.loginSide {
    margin-left: 4%;
    width: 80%;
    margin-top: .5%;

}

.form_header{
    font-size: 4vw;
    color: firebrick;
    align-items: center;
}

button {
    width: 50%;
}

.submit_button{
    background: green;
    color: aliceblue;
    font-size: 1.5vw;

}

.reset_button{
    background: red;
    color: aliceblue;
    font-size: 1.5vw;

}
input {
    font-size: 1.5vw;
}

.form_body {
    display: flex;
    flex-direction: row;
}
.left{
    width: 45%;
}

.right {
    width: 45%;

}