body{
    background: antiquewhite;
}
.topBar{
    display: flex;
    flex-direction: row;
    background: aliceblue;

}
.logoIMG {
    padding: 1% 10% 1% 1%;
    background: lightseagreen;
    width: 10%;
    color: brown;
    font-family: "Segoe Script", serif;
    font-size: 4vw;
    height: 100%;
}
.secondBox{
    display: flex;
    flex-direction: column;
    width: 60%;
}
.welcome{
    color: chocolate;
    font-size: 4vw;
}
.sub-title{
    font-size: 2.5vw;
    color: rgba(210, 105, 30, 0.75);

}
.navbar{
    color: brown;
    font-size: 2.5vw;
    display: inline-block;
    background: lightseagreen;
    padding-bottom: .75%;
}
table{
    width: 100%;
    align-content: center;
    height: auto;
}
a:link {
    color: brown;
    text-decoration: none;
}
a:visited {
    color: brown;

}
.checkBid{
    margin-left: 10%;
    padding-left: 5%;
    text-align: center;
    width: 100%;
    color: lightseagreen;
    font-size: 2vw;
    font-family: "Segoe Script", serif;
    height: 100%;
}